body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(216, 216, 216, 0.829);
}

#paragraph-result {
  margin-top: 50px;
}

input {
  width: 200px;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

label {
  font-family: 'jetBrains Mono';
}

#button-calculate-imc:hover {
  cursor: pointer;
}
